body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
    
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 20%;
   
}

ul{
    margin: 0px;
}
body > header{
    background-color: rgb(16, 121, 241);
    color: azure;
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content: space-between;

}

body > header > nav > ul {
    list-style:none;
    text-decoration: none;
}

#nav-ul{
    display: flex;
}

#nav-ul > li{
    padding: 15px;
    margin: 16px;
}
.navbutton {
    color:white;
    text-decoration: none;
    padding: 20px;
    border: 1px solid white;
    
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;

}

#main-content > div{
    width: 70%;
}

#main-content aside {
    width: 20%;
}
form {
    text-align: center;
}
 
h2 {
    text-align: center;
}
body > footer{
    background-color: rgb(16, 121, 241);
    display: flex;
    color: aliceblue;

}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin: 12px;
}

#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
}